.navBar {
    text-align: right;
    background-image: url('../images/IS\ scratch\ banner.jpg');
    height:200px;
}
.nav {
    margin-right: 40px;
    font-size: x-large;
    text-decoration: none;
    color:rgb(59, 50, 50)
}
.navBar a.nav:hover{
    color:darkcyan;
}
body {
    background-color: darkcyan;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(59, 50, 50);
}
.my-things {
    height: fit-content;
}
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: aliceblue;
    font-size: larger;
}
.list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: medium;
}